*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
main{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#nav{
  height: 90px;
  width: 100%;
  border-bottom: 1px rgb(53, 53, 53) solid;
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}
#logo{
  background-image: url(https://i.pinimg.com/1200x/f5/e2/fb/f5e2fb51fcb62017a89fbcfe97bd6897.jpg);
  height: 4vw;
  width: 4vw;
  background-size: cover;
  border-radius: 50%;
}
.nav2{
 display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    font-size: 1.30vw;
}
i{
  display: none;
}

#content{
  min-height:calc(100% - 90px);
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  height: 100%;
  width: 50%;
  padding: 5vw 5vw;
  font-size: 1.40vw;

}
.left h1 span{
  color: #5a299c;
}

.left p{
  font-size: 1.35vw;
  margin-top: 2vw;
  color: rgb(112, 112, 112);
}
.left button{
  margin-top: 3vw;
  padding: 1vw 2vw;
  font-size: 1vw;
  border-radius: 3px;
  color: white;
  background-color: #5a299c;
  border: none;
}
.left button:active{
  scale: calc(0.90);
}
.right{
  height: 100%;
  width: 50%;
}
.right img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width:600px) {
  #nav{
    height: 60px;
    background-color: #ffffff;
  }
  .nav2 h4{
    display: none;
  }
  .nav2 i{
    display: block;
    font-size: 5vw;
  }


  #content{
   height: auto;
   flex-direction: column;
  
}
.left{
  width: 100%;
  height: 50%;
}
.left h1{
  font-size: 10vw;
   margin-right: 7vw;
   line-height: 11vw;
}
.left p{
  font-size: 4vw;
  margin-top: 5vw;
}
.left button{
   margin-top: 5vw;
  padding: 3vw 4vw;
  font-size: 4vw;
}
.right{
  width: 100%;
  height: 50%;
}
.right img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#logo{
  height: 8vw;
  width: 8vw;
  background-size: cover;
  border-radius: 50%;
}
}